@font-face {
  font-family: abster;
  src: url(font/abster-webfont.woff) format('woff');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0;
  min-width: 992px;
  font-family: "Helvetica";
}

.container{
  background: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.container .header {
  width: 80%;
  height: 100px;
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .header ul{
  margin-top: 15px;
}

.container .header ul img{
  margin: 10px;
}

.container .header h1 a{
  text-decoration: none;
  color: black;
  font-family: abster;
}

.container .header h2{
  text-decoration: none;
  color: black;
  font-family: abster;
  text-align: 80px;
  font-size: 20px;
  margin-left: 85px;
}

.container .nav ul li{
  display: inline-block;
  margin: 0 10px;
}

.container .nav ul li a{
  text-decoration: none;
  color: black;
}

.container .nav ul li a:hover{
  color: darkgray;
}

input#menu:checked{
  display: block;
}

.container .header ul .menu{
  cursor: pointer;
}

.container .header ul .menu .submenu{
  display: none;
}

.container .header ul .menu .submenu li{
  display: inline-block; width: 100px;
}

.container .header ul{
  width: 200px;
  height: 50px;
  text-align: center;
}

.container .header ul .info{
  display: inline-block;
}

.container .header ul .bag{
  display: inline-block;
}

.container .header ul .menu1{
  float: right;
}

.container .header ul li.menu1{
  cursor: pointer;
} 
/*여기서부터 메뉴 수정*/
.container .header ul li.menu1{
  display: inline-block; width: 57.5px;
  background: none; text-align: center; position: absolute;
}

.container .header ul li.menu1 ul{
  display: none; position: absolute;
  top: 30px; left: 0;
}

.container .header ul li.menu1:hover ul{
  display: inline-block;
}

.container .header ul li.menu1 ul li{
  display: inline-block; width: 130px; height: 40px;padding: 10px 10px;
  background: white; text-align: center;
  border: 1px solid rgb(236, 234, 232);
}

.container .header ul li.menu1 ul li:hover{
  background: rgba(227, 224, 224, 0.872);
  border: 2px solid rgb(236, 234, 232);
  outline: none;
  /* border-radius: 20px; */
}

.container .header ul li.menu1 ul li a{
  text-decoration: none;
  color: black;
  font-family: 'Helvetica';
}


.wrap{
  margin: 0 auto;
  width: 800px;
  background-color: #F8F8F8;  
}
/* 배경 */
.titleContainer{  
  height: 80px;
  background-color: #f5f5f5;    
  
  display: flex;
  align-items: flex-end;
  padding: 16px;
}

.titleContainer .name{
   font-size: 20px;
  font-weight: bold;
  color: #0000;
} 
.titleContainer .modify{
  margin-left: auto;
}

/* 단골상점 , 상품후기 , 적립금 박스 */
.summaryContainer{
  background-color: white;  
  display: flex;  
  padding: 21px 16px;  
  height: 80px;
  margin-bottom: 8px;
}
/* 단골상점 , 상품후기 , 적립금 */
.summaryContainer .item{
  flex-grow: 1
}
/* 숫자 색깔 */
.summaryContainer .number{
  font-size: 19px;
  font-weight: bold;
  color: black;
}
/* 텍스트 */
.summaryContainer .item > div:nth-child(2){
  font-size: 10px;
}

/* ================== 주문/배송조회 박스 시작 ==================== */
.shippingStatusContainer{
  padding: 21px 16px;
  background-color: white;
  margin-bottom: 8px;
}

/* 주문/배송조회 타이틀 */
.shippingStatusContainer .title{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* 장바구니 결제완료 배송중 구매확정 [로우] */
.shippingStatusContainer .status{
  display: flex;
  justify-content: space-between;
  margin-bottom: -2px;
}
/* 장바구니 결제완료 배송중 구매확정 [아이템]  */
.shippingStatusContainer .item{
  display: flex;
}

.shippingStatusContainer .number{
  font-size: 31px;
  font-weight: 500;
  text-align: center;
}
.shippingStatusContainer .text{
  font-size: 12px;
  font-weight: normal;
  color: #c2c2c2;
  text-align: center;
}
.shippingStatusContainer .icon{
  display: flex;
  align-items: center;
  padding: 20px;
  width: 16px;
  height: 16px;
}


/*=================== 주문목록 ~ 찜한상품 리스트 ==================*/
.listContainer{  
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 10px;
}
.listContainer .item{  
  display: flex;
  align-items: center;
  padding: 16px;
  color: black;
  text-decoration: none;  
  height: 56px;
  box-sizing: border-box;
}
.listContainer .icon{  
  margin-right: 14px;
}
.listContainer .text{
  font-size: 16px;
  position: relative;
}
.listContainer .right{
  margin-left: auto;
}


/*=================== 내지갑의 보유 적립금 들어가는 부분 ================*/
.listContainer .smallLight{
  font-size: 14px;
  color: #c2c2c2;  
}
.listContainer .smallLight > span{
  margin-left: 10px;
}

.listContainer .right .blct{
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}



/* 공지사항 이용안내 고객센터 */
.infoContainer{
  background-color: white; 
  display: flex;
  height: 80px;
  margin-bottom: 10px;    
}

.infoContainer .item{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 13px;
  text-decoration: none;
  color: black;
}
.infoContainer .item > div:first-child{
  margin-bottom: 2px;
}



/*  */
.listContainer .item:hover{
/*   background-color: #f8f8f8; */
}
.infoContainer .item:hover{
/*   background-color: #f8f8f8; */
}

/* footer 영역 */
#footer{
  clear: both;
  width: 100%;
  height: 80px;
  background-color: none; 
  text-align: left;   
  margin-bottom: 100px;
  text-decoration: none;
  font-family: Arial;
  margin-top: 7%;
}

#footer .under{
  float: left;
  width: 50%;
}

#footer .under .underlist{
  padding: 32px 0 0 40px;
  margin-left: 50%;
}

#footer .under .underlist li{
  list-style:none;
}

#footer .under .underlist li a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.68);
}

#footer .under .underlist .one{
  margin-top: 10px;
  margin-bottom: 7px;
}
#footer .under .underlist .two{
  margin-bottom: 7px;
}
#footer .under .underlist .three{
  margin-bottom: 7px;
}
#footer .under .underlist .four{
  margin-bottom: 7px;
}

#footer .under .underlist a{
  color: #999;
  font-size: 14px;
}

#footer .under .underlist a:hover{
  cursor: pointer;
  color: gainsboro;
}

#footer .right_under{
  float: left;
  width: 35%;
  padding: 32px 0 0 40px;
}

#footer .right_under li{
  list-style: none;
}

#footer .right_under li a{
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.68);
}

#footer .right_under .link .seven{
  margin-top: 10px;
  margin-bottom: 7px;
}
#footer .right_under .link .eight{
  margin-bottom: 7px;
}
#footer .right_under .link .nine{
  margin-bottom: 7px;
}
#footer .right_under .linkt .ten{
  margin-bottom: 7px;
}

#footer .under .underlist a{
  color: #999;
  font-size: 14px;
}